/* 
================================
COLORS & FONT STYLE

================================



/* 
================================
FONT @IMPORT
*/

/* 
================================
GENERAL STYLE
================================ 
*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: blue;
}

/* 

================================
HEADER STYLE
================================


/* 

================================
MAIN STYLE
================================

*/

/* 

================================
FOOTER STYLE
================================

*/



/* 

================================
STYLE
================================

*/

/* 

================================
 STYLE
================================

*/